{{swagger-ui url=swaggerUrl docExpansion="list"}}

<div style="font-family: 'Droid Sans', sans-serif; text-align: center; width: 100%;">View source: <a href={{swaggerUrl}} target='_new'>swagger.yaml</a></div>